@{
    ViewData["Title"] = "BroodEnBakprogrammaBeheren";
}

<div class="row">
    <div class="container">
        <div class="two-grid">
            <div class="col-md-6" )>
                <div class="SysteemBeheerderContrainer inner-wraps">
                    <img src="../Images/Medewerkers.png" class="SysteemBeheerderImg card-img" />
                    <button class="btn-dark card-btn">
                        <a style="color:white" asp-area="" asp-controller="Brood" asp-action="Broodbeheren">Brood Beheren</a>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="SysteemBeheerderContrainer inner-wraps">
                    <img src="../Images/Filiaal.png" class="SysteemBeheerderImg card-img" />
                    <button class="btn-dark card-btn">
                        <a style="color:white" asp-controller="Bakprogramma" asp-action="BakprogrammaBeheren">Bakprogramma Beheren</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
