@model BreadCore.Models.Brood
@{
    ViewData["Title"] = "DatumKiezenAlleFilialen";
}

<h1 style="text-align: center; padding-top: 20px">Gegevens Filiaal</h1>
<div class="col-md-4" style="display:block; width:50%; margin:0 auto;">
    <form method="post" asp-action="GegevensAlleFilialen" class="loginField text-center" style="border: solid; border-width: 5px">
        <label>Van:</label>
        <input type="date" name="EersteDatum" style="margin-bottom: 5px" required><br />
        <label>Tot:</label>
        <input type="date" name="TweedeDatum" style="margin-bottom: 5px" required> <br />
        <submit>
            <input type="submit" class="btn btn-lg btn-primary btn-block">
        </submit>
    </form>
</div>



