@model BreadCore.Models.BroodType

@{
    ViewData["Title"] = "EditBrood";
    var bakprogrammas = ViewData["bakprogrammas"] as List<Bakprogramma>;
}
<h1 class="text-center" style="padding-top: 20px">Brood Bewerken</h1>

<div class="col-md-4" style="display:block; width:50%; margin:0 auto;">
    <div class="col-md-4" style="display:block; width:50%; margin:0 auto;">
        <form asp-action="Edit" class="loginField" style="border: solid; border-width: 5px">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BroodTypeID" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            Bakprogramma:
            <select asp-for="BakprogrammaId" class="form-select">
                @foreach (var bakprogramma in bakprogrammas)
                {
                        <option value="@bakprogramma.Id">@bakprogramma.Naam</option>
                }
            </select>
            <div class="form-group" style="padding-top: 5px">
                <button type="submit" class="btn-danger" style="height: 35px; border: none">
                    <a style="color: white!important; text-decoration: none" asp-controller="brood" asp-action="BroodBeheren">Annuleer</a>
                </button>
                <input type="submit" value="Edit" class="btn btn-primary" style="height: 35px; padding-top: 0px; padding-bottom: 0px; border-radius: 0px; margin-top: -5px" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
