@{
}
<button><a asp-route-id="1" asp-controller="Brood" asp-action="GebakkenBroodInvoeren">Programma 1</a></button>
<button><a asp-controller="Brood" asp-action="GebakkenBroodInvoeren">Programma 2</a></button>
<button><a  asp-controller="Brood" asp-action="GebakkenBroodInvoeren">Programma 3</a></button>
<button><a  asp-controller="Brood" asp-action="GebakkenBroodInvoeren">Programma 4</a></button>
<button><a asp-route-id="5" asp-controller="Brood" asp-action="GebakkenBroodInvoeren">Programma 5</a></button>
