@model List<Brood>
@using static BreadCore.Models.BroodType
@using Microsoft.Data.SqlClient

@{
    ViewData["Title"] = "GegevensAlleFilialen";
    List<int?> broodTypesGebakken = ViewData["GebakkenBroden"] as List<int?>;
    List<int?> broodTypesBedorven = ViewData["DervingBroden"] as List<int?>;
    List<BroodType> broodTypes = ViewData["BroodTypes"] as List<BroodType?>;

}
<h1 style="text-align: center; padding-top: 20px">Gegevens Alle Filialen</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Brood Type
            </th>
            <th>
                Hoeveelheid Gemiddelde Gebakken
            </th>
            <th>
                Hoeveelheid Gemiddelde Derving
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < broodTypes.Count; i++)
        {
            <tr>
                <td>
                    @broodTypes[i].Type
                </td>
                <td>
                    @broodTypesGebakken[i]
                </td>
                <td>
                    @broodTypesBedorven[i]
                </td>
            </tr>
        }
    </tbody>
</table>



