@model BreadCore.Models.Filiaal

@{
    ViewData["Title"] = "DetailsFiliaal";
}
<h1 class="text-center" style="padding-top: 20px">Details</h1>

<div>
    <h4> Filiaal: @Html.DisplayFor(modelItem => Model.FiliaalNaam)</h4>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Bediener Nummer
                </th>
                <th>
                    Wachtwoord
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Medewerkers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BedienerNr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wachtwoord)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FiliaalId">Edit</a> |
    <a asp-action="FilialenBeheren">Back to List</a>
</div>