@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom</h1>
    <p style="color: red;">
        DISCLAIMER: Voor de inleveropdracht is alleen de systeembeheerder gemaakt. Om in te loggen moet gebruik gemaakt worden van: <br />
        BedienerNr: 1 <br />
        Wachtwoord: 1 <br />
        Ik raad aan om de video te bekijken die ik heb gemaakt. Deze laat alle functionaliteiten van het programma zien.
    </p>
    <button><a asp-area="" asp-controller="Medewerkers" asp-action="Medewerker">Inloggen Medewerker</a></button>
    <button><a asp-area="" asp-controller="Medewerkers" asp-action="Manager">Inloggen Manager</a></button>
    <button><a asp-area="" asp-controller="Medewerkers" asp-action="SysteemBeheerder">Inloggen Systeem Beheerder</a></button>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=dKYGNj1GZTw" allowfullscreen></iframe>
    </div>
    <button style="margin-top: 20px" class="btn btn-primary" onclick="window.location.href = 'https://www.youtube.com/watch?v=dKYGNj1GZTw'">
        Werkt de video niet? Druk op deze knop!
    </button>

</div>

