@{
    ViewData["Title"] = "Manager";
}

<div style="background-color:darkslateblue; padding-bottom: 20px">
    <h1 style="text-align: center; color: white; font-size: 70px;">Welkom</h1>
</div>
<div class="row">
    <div class="container">
        <div class="two-grid">
            <div class="col-md-6" )>
                <div class="SysteemBeheerderContrainer inner-wraps">
                    <img src="../Images/Filiaal.png" class="SysteemBeheerderImg card-img" />
                    <button class="btn-dark card-btn">
                        <a style="color:white" asp-area="" asp-controller="Brood" asp-action="FiliaalKiezen">Gegevens filiaal</a>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="SysteemBeheerderContrainer inner-wraps">
                    <img src="../Images/Filiaal.png" class="SysteemBeheerderImg card-img" />
                    <button class="btn-dark card-btn">
                        <a style="color:white" asp-controller="Brood" asp-action="DatumKiezenAlleFilialen">Gegevens alle filialen</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
