@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="text-align: center">Welkom</h1>
<button><a asp-area="" asp-controller="Medewerkers" asp-action="Logout">Logout</a></button>
<button><a asp-area="" asp-controller="Medewerkers" asp-action="MedewerkersBeheren">Medewerkers Beheren</a></button>
