@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SysteemBeheerder";
}

<div style="background-color:darkslateblue; padding-bottom: 20px">
    <h1 style="text-align: center; color: white; font-size: 70px;">Welkom</h1>
</div>
<div class="row">
    <div class="container">
        <div class="three-grid">
            <div class="col-md-6">
                <div class="SysteemBeheerderContrainer inner-wraps">
                    <img src="../Images/Medewerkers.png" class="SysteemBeheerderImg card-img" />
                    <button class="btn-dark card-btn">
                        <a style="color:white" asp-area="" asp-controller="Medewerkers" asp-action="MedewerkersBeheren">Medewerkers Beheren</a>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="SysteemBeheerderContrainer inner-wraps">
                    <img src="../Images/Filiaal.png" class="SysteemBeheerderImg card-img" />
                    <button class="btn-dark card-btn">
                        <a style="color:white" asp-controller="Filiaal" asp-action="FilialenBeheren">Filialen Beheren</a>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="SysteemBeheerderContrainer inner-wraps">
                    <img src="../Images/Filiaal.png" class="SysteemBeheerderImg card-img" />
                    <button class="btn-dark card-btn">
                        <a style="color:white" asp-controller="Bakprogramma" asp-action="BroodEnBakprogrammaBeheren">Brood/Bakprogramma Beheren</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

